<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestFilm.Web</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.css" media="screen">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Event" asp-action="Index">SoireeFilm.be</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    @if (ViewBag.IsLogged == true)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Event" asp-action="Index">Soirées</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Group" asp-action="Index">Groupes</a>
                            </li>
                        </ul>
                    }
                    @if (ViewBag.IsLogged == false)
                    {
                        <span class="nav-item ml-auto">
                            <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Connexion</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Register">S'enregistrer</a>
                        </span>
                    }
                    else
                    {
                        <span class="nav-item ml-auto">
                            <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Logout">Se déconnecter</a>
                        </span>
                    }
                </div>
            </div>
        </nav>
        @*<div>
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Event" asp-action="Index">SoireeFilm.be</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                         id="navcol-1">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Event" asp-action="Index">Soirées</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-controller="Group" asp-action="Index">Groupe</a></li>
                        </ul>
                        @if (ViewBag.IsLogged == false)
                        {
                        <span class="navbar-text actions"> 
                            <a asp-area="" asp-controller="Auth" asp-action="Login" class="login">Connexion</a>
                            <a class="btn btn-light action-button" asp-area="" asp-controller="Auth" asp-action="Register" role="button">S'enregistrer</a>
                        </span>
                        }
                        else
                        {
                            <a class="btn btn-light action-button" asp-area="" asp-controller="Auth" asp-action="Logout" role="button">Déconnection</a>
                        }
                    </div>
                </div>
            </nav>
        </div>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SoireeFilm.be
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
