@model GestFilm.Forms.LoginForm

@{
    ViewData["Title"] = "Login";
}

<h1>Connexion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Pseudo</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mot de passe</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Se connecter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
Pas encore de compte ? <a asp-controller="Auth" asp-action="Register">Créer un nouveau compte ici</a>

@if(!(ViewBag.Message is null))
{
    <p class="text-danger">@ViewBag.Message</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
