@model GestFilm.Forms.RegisterForm

@{
    ViewData["Title"] = "Register";
}

<h1>Création de votre compte</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nom</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Prénom</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Pseudo</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mot de passe</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm" class="control-label">Vérification mot de passe</label>
                <input asp-for="Confirm" class="form-control" />
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer un compte" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

Vous possèdez déjà un compte ? <a asp-controller="Auth" asp-action="Login">Connectez vous ici !</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
