@model GestFilm.Models.Data.Group

@{
    ViewData["Title"] = "Delete";
}

<h1>Supression</h1>

<h3>Etes-vous sûr de vouloir supprimer ce groupe ?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des groupes</a>
    </form>
</div>
